* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.full-wrap {
    border-bottom: 150px solid #5D6576;
    /* border-left: 9px solid #5D6576;
    border-right: 9px solid #5D6576;  */
}

.main-container {
    display: grid;
    grid-template-areas:
    'cont-a cont-a cont-a cont-a cont-a cont-a cont-a cont-a cont-a'
    'days sessions tri nu br asd g1c g2c container-c'
    'days sessions tri nu br asd g1c g2c container-c'
    'days sessions tri nu br asd g1c g2c container-c';
    border-top: 9px solid #5D6576;
    color: white;
    background-color: #071228;
}

.cont-a {
    align-items: center;
    border-bottom: 18px solid #5D6576;
    color: white;
    font-size: 1vw;
    background-color: #071228;
}

h1 {
    margin-left: 20px;
    padding: 10px 0;
}

p {
    /* color: white; */
     padding-bottom: 10px; 
}

.cont-a {
    grid-area: cont-a;
}

.title-padding {
    padding-top: 10px;
}

.title-padding :nth-child(1) {
    padding-bottom: 25px;
}

.title-padding :nth-child(2) {
    padding-bottom: 25px;
}

.title-padding :nth-child(3) {
    padding-bottom: 25px;
}

.symbols :nth-child(1) {
    padding-bottom: 12px;
}

.symbols :nth-child(2) {
    padding-bottom: 40px;
}

.symbols :nth-child(3) {
    padding-bottom: 38px;
}



.days {
    grid-area: days;
    font-size: .7em;
    border-left: 9px solid #5D6576;
}

.days div {
    padding: 55px 0 0 20px;
}

.days div p {
    padding-bottom: 30px;
}

.sessions {
    grid-area: sessions;
    display: flex;
}

.symbols {

    position: relative;
    width: 30px;
    margin-top: 22px;
    /*top: 30px;
    right: 55px;
    height: 70px;*/
}

.symbols p {
    visibility: hidden;
}

.symbols div {
   /*margin-bottom: 2px;*/
}


.tri {
        clip-path: polygon(44% 0, 61% 29%, 29% 29%);
        /*clip-path: polygon(46% 0, 63% 31%, 31% 31%);*/
        /*clip-path: polygon(50% 0%, 46% 36%, 53% 36%);*/
        grid-area: symbols;
         /*position: relative;
         top: 20px;
         right: 65px;
         margin-top: 5px;*/
         
        height: 45px;
        background-color: #20aa20;
}

.nu {
    grid-area: nu;
    display: flex;
}

.br {
    grid-area: br;
    display: flex;
}

.asd {
    display: flex;
    grid-area: asd;
}

.sec {
    grid-area: sec;
}

.goals {
    display: flex;
    text-align: center;
}

.g1c {
    grid-area: g1c;
}

.g2c {
    grid-area: g2c;
}

.container-b {
   
    /* display: flex;
    position: relative;
    margin-right: 8px;
    grid-column: span 1;
    grid-row: span 2; */
    background-color: #071228;
}

.container-c {
    grid-area: container-c;
    }
