* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.small-text {
    font-size: small;
}

.days{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 175px;
    margin-left: 10px;
    /* bottom: 65px; */
}

body {
    font-family: sans-serif;
}
.full-wrap {
    background-color: #071228;
    color: white;
    display: grid;
    grid-template-rows: 5% 50% 45%;
    grid-template-columns: repeat(3, 1fr);
    
}

.tri {
    clip-path: polygon(44% 0, 61% 29%, 29% 29%);
    /*clip-path: polygon(46% 0, 63% 31%, 31% 31%);*/
    /*clip-path: polygon(50% 0%, 46% 36%, 53% 36%);*/
    /* grid-area: symbols;
     /*position: relative; */
     /* top: 20px;
     right: 65px;
     margin-top: 5px;*/ 
    height: 30px;
    width: 30px;
    margin-top:5px;
    background-color: #20aa20;
}

#cont-bc {
    display: flex;
    grid-row: 2 / span 1;
    grid-column: 1 / end;
    margin-top: 45px;
    height: 195px;
    background-color: red;
    
}
.cont-a {
    display: grid;
    grid-column: 1 / span 13;
    border-top: 9px solid #5D6576;
    border-bottom: 15px solid #5D6576;
     height: 70px;  
    background-color: green;
    
}

.cont-a h2 {
    /* padding: 10px 20px 15px 20px; */
    align-self: center;
    padding-left: 15px;
}

.cont-b {
    display: grid;
    position: relative;
    font-size: small;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#border1 {
position: absolute;
border-top: 1px solid #5D6576;
left: 115px;
width: 82%;
top: 85px;
opacity: .5;
}
#border2 {
position: absolute;
border-top: 1px solid #5D6576;
text-align: center;
left: 115px;
opacity: .5;
top: 140px;
width: 82%;
}
.title {
    width: 100px;
    margin: 15px 0 25px 0;
    text-align: center;
}

.tri-div {
    display: flex;
    margin:0 0 20px 10px;
    /* width: 75px; */
    /* width: 80px; */
}

.tri-div div {
    width: 60px;
    text-align: right;
}

.asd .tri-div div {
    width: 70px;
}




.days {
    width: 100px;
}

.days p{
    font-size: x-small;
    padding-left: 10px;
}

.hidden {
    visibility: hidden;
}

.title p {
font-size: x-small;
}

.sec {
    display: flex;
}

.sec span{
    margin-right: 5px;
}

.g1c .tri-div{
    margin-left: -10px;
}

.g2c .tri-div{
    margin-left: -3px;
}

.cont-c {
    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);

}

.cont-c-title {
    grid-column: 1 / span 5;  
}

.cont-c-title h2 {
    font-size: small;
    margin-top: 15px;
}

.cont-c-title p {
    font-size: x-small;
}

.sideway-text1 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    transform: rotate(-90deg);
}



#cont-def{
    grid-row: 3 / 4;
    grid-column: 1 / span 3;
}








