* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-container {
    display: grid;
    position: relative; 
    height: 90vh;
    width: 95vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 11% 33% 37%; 
    margin: 0 auto;
    border-top: 9px solid #5D6576;
    
    background-color: #5D6576;
}

.container-a {
     /* height: 8%; */
     display: flex; 
    align-items: center;
    /* position: relative;  */
    grid-column: span 3;
    grid-row: span 1;
    margin-bottom: 18px;
    color: white;
    font-size: 1vw;
    background-color: black;
}

h1 {
    margin-left: 20px;
}

p {
    color: white;
}

.container-bc {
    /* height: 33%;
    width: 100%; */
    /* position: absolute; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 33%;
    grid-column: span 3;
    grid-row: span 1;
    margin: 0 8px;
    margin-bottom: 9px;
    
}

.container-b {
    
    display: flex; 
    position: relative;
     /* justify-content: center; */
    /* align-items: center;  */
    margin-right: 8px;
    grid-column: span 1;
    grid-row: span 2;
    background-color: black;
}

.titles {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between; 
    
}

.titles p {
    margin-right: 12px;
    font-size: 12px;
}

.numbers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    position: absolute;
    top: 40px;
    left: 125px;
}

.days {
    position: relative;
    height: 100%;
    width: 19%;
    
}

.days div {
    /* justify-content: space-between; */
    /* display: flex;
    align-items: center; */
    position: absolute;
    font-size: 12px;
    top: 64%;
    transform: translateY(-50%);
    height: 80%;
    margin-left: 12px;
}

.this-week {
    margin: 30px 0 30px 0px;
}

.container-c {
    grid-column: span 1;
    grid-row: span 2;
    background-color: black;
}

.container-def {
    /* height: 37%;
    width: 100%; */
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 37%;
    margin: 0 8px;
    grid-column: span 3;
    grid-row: span 1;
    /* background-color: green; */
}

.container-d {
    grid-column: span 1;
    grid-row: span 2;
    margin-right: 8px;
    background-color: black;
}

.container-e {
    grid-column: span 1;
    grid-row: span 2;
    margin-right: 8px;
    background-color: black;
}

.container-f {
    grid-column: span 1;
    grid-row: span 2;
    background-color: black;
}