* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
.full-wrap {
    display: grid;
    background-color: #071228;
    color: white;
    grid-template-areas: 
    'cont-a cont-a cont-a'
    'cont-b cont-b cont-c' 
    'cont-d cont-e cont-f';
}

.cont-a {
    grid-area: cont-a;
    border-top: 9px solid #5D6576;
    border-bottom: 15px solid #5D6576;
    
}

.cont-a h1 {
    padding: 10px 0 10px 20px;
    font-size: 1.5rem;
}

.cont-b {
    display: flex;
    grid-area: cont-b;  
}

.days {
    grid-area: days;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: x-small;
    border-left: 9px solid #5d6576;
    justify-content: space-around;   
}

.days p {
    padding-left: 22px;
}

.days :nth-child(1) {
    padding-top: 20px;
}

.days :nth-child(3) {
    padding-bottom: 29px;
}

.sessions {
    grid-area: sessions;
     display: flex; 
     flex-direction: column;
     height: 200px;
}
 .title-padding p {
     position: relative;    
     left: 60px;
    padding: 10px 0 20px 0;
    font-size: x-small;
    
}

.numbers {
    display: flex;
    height: 122px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 50px;
}

.numbers div {
    text-align: right;
}

.symbols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 43px;
    margin-top: 10px;
    height: 172px;
}

.symbols1 {
    grid-area: symbols1;

}
.symbols2 {
    grid-area: symbols2;
}
.symbols3 {
    grid-area: symbols3;
}


.symbols4 div {
    grid-area: symbols4;
    position: relative;
    right: 37px;
} 
.symbols5 div {
    grid-area: symbols5;
    position: relative;
    right: 55px;
}
.symbols6 div {
    grid-area: symbols6;
    position: relative;
    right: 50px;
}


.symbols p {
    visibility: hidden;
}

.sec {
    grid-area: sec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 10px;
    margin-top: 43px;
    height: 120px;
    
}

.tri {
    clip-path: polygon(44% 0, 61% 29%, 29% 29%);
    /*clip-path: polygon(46% 0, 63% 31%, 31% 31%);*/
    /*clip-path: polygon(50% 0%, 46% 36%, 53% 36%);*/
    /* grid-area: symbols;
     /*position: relative; */
     /* top: 20px;
     right: 65px;
     margin-top: 5px;*/ 
     
    height: 30px;
    background-color: #20aa20;
}

.nu {
    grid-area: nu;
}

.br {
    grid-area: br;
}

.asd {
    grid-area: asd;
}

.asd .title-padding .numbers div {
    position: relative;
    right: 45px;
}

.g1c {
     grid-area: g1c;
     position: relative;
     right: 30px;
}

.special-nums1 div {
    position: relative;
    right: 25px;
}

.g2c {
    grid-area: g2c;
    position: relative;
    right: 50px; 
}
.cont-c {
    grid-area: cont-c;
    border-left: 9px solid #5D6576;
     border-right: 9px solid #5D6576;
    font-size: x-small;
}

.cont-c-title h2 {
    font-size: x-small;
}
.cont-d  {
    grid-area: cont-d;
    background-color: palegreen;
    border-left: 9px solid #5D6576;
}
.cont-e {
    grid-area: cont-e;
    background-color: peru;
}

.cont-f {
    grid-area: cont-f;
    background-color: royalblue;
}




