* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.small-text {
    font-size: small;
}

body {
    font-family: sans-serif;
}
.full-wrap {
    background-color: #071228;
    color: white;
    
}

#cont-bc {
    display: flex;
    
}
.cont-a {
    grid-column: 1 / span 13;
    border-top: 9px solid #5D6576;
    border-bottom: 15px solid #5D6576;
    background-color: green;
    
}

.cont-b {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.title {
    width: 100px;
}

.days {
    width: 100px;
}

.days p{
    font-size: small;
}

.hidden {
    visibility: hidden;
}

.title p {
font-size: x-small;
}

.sec {
    display: flex;
}

.sec span{
    margin-right: 5px;
}


