* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.small-text {
    font-size: small;
}

.days{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 175px;
    margin-left: 10px; 
    /* bottom: 65px; */
}

body {
    font-family: sans-serif;
}
.full-wrap {
    background-color: #071228;
    color: white;
    width: 98vw; 
    margin: 20vh auto;
    position: relative;
    
    
}

.tri {
    clip-path: polygon(44% 0, 61% 29%, 29% 29%);
    height: 30px;
    width: 30px;
    margin-top:5px;
    background-color: #20aa20;
}

#cont-bc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column: 1 / span 3; */
    grid-template-rows: auto auto;
    border-bottom: 50px solid #5D6576;
    /* grid-column: 1 / end;
    margin-top: 45px; */
   
    
}
.cont-a {
    display: grid;
    grid-column: 1 / span 13;
    border-top: 9px solid #5D6576;
    border-bottom: 15px solid #5D6576;
     height: 70px;  
    background-color: #071228;
    
}

.cont-a h2 {
    /* padding: 10px 20px 15px 20px; */
    align-self: center;
    padding-left: 15px;
}

.cont-b {
    display: flex;
    grid-column: 1 / span 2;
    justify-content: space-around;
    border-right: 9px solid #5D6576;
    border-left: 9px solid #5D6576;
    border-bottom: 9px solid #5D6576;
   
}

#border1 {
position: absolute;
border-top: 1px solid #5D6576;
left: 110px;
width: 50%;
top: 160px;
opacity: .5;
}
#border2 {
position: absolute;
border-top: 1px solid #5D6576;
text-align: center;
left: 110px;
opacity: .5;
top: 215px;
width: 50%;
}
.title {
    width: 100px;
    margin: 15px 0 25px 0;
    text-align: center;
}

.tri-div {
    display: flex;
    margin:0 0 20px 10px;
    /* width: 75px; */
    /* width: 80px; */
}

.tri-div div {
    width: 55px;
    text-align: right;
    font-size: small;
}

.asd .tri-div div {
    width: 70px;
}




/* .days {
    width: 100px;
} */

.days p{
    font-size: x-small;
    padding-left: 10px;
}

.hidden {
    visibility: hidden;
}

.title p {
font-size: x-small;
}

.sec {
    display: flex;
}

.sec span{
    margin-right: 5px;
}

.g1c .tri-div{
    margin-left: -10px;
}

.g2c .tri-div{
    margin-left: -3px;
}

.cont-c {
    border-right: 9px solid #5D6576;
    border-bottom: 9px solid #5D6576;
}  

.cont-c-title h2 {
    font-size: small;
    margin-top: 15px;
    padding-left: 25px;
}


.cont-c-title p {
    font-size: x-small;
    padding-left: 25px;
}



.sideway-text {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    padding-top: 20px;

}

.sideway-text1 {
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    transform: rotate(-90deg);
    width: 85px;
    font-size: xx-small;
    text-align: center;
    left: 40px; 
    bottom: 12px;
    /* margin-left: -30px; */
}

/* .cont-c-num div {
    font-size: x-small;
} */

.sideway-text2 {
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 5 / span 1;
    transform: rotate(90deg);
    font-size: xx-small;
    text-align: center;
    right: 60px;
    width: 50px;
    bottom: 12px;

    /* margin-right: -30px; */
}

.cont-c-num {
    display: grid;
    position: relative;
    justify-content: space-between;
    right: 58px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.squiggly-lines {
    position: relative;
    right: 24px;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.squiggly-lines img {
    width: 26vw;
}



.cont-c-num2 div {
    font-size: x-small;
}

 

.cont-d {
    /* position: relative;  */
    grid-column: 1 / span 1; 
    grid-row: 2 / span 1; 
    border-left: 9px solid #5D6576;
    background-color: #071228;
    
}

/* .bar-chart {
     position: relative; 
    
    background-color: green;
    font-size: xx-small;
    width: 300px;
    height: 100px;
    margin: 0 auto;
} */

.bottom-line {
    display: flex;
    align-items: flex-end;
    font-size: xx-small;
    height: 90px;
    width: 320px;
    margin: 0 auto; 
    border-bottom: 2px solid white;
}

.cont-bars-nums {
    display: flex;
    align-items: flex-end;
    /* bottom: 0; */
    /* position: absolute; */
} 

.cont-bars-num1{
    margin-left: 20px;
}
.cont-bars-num2{
    margin-left: 30px;
}
.cont-bars-num3{
    margin-left: 32px;
}
.cont-bars-num4{
    margin-left: 31px;
    
}
.cont-bars-num5{
    margin-left: 31px;
}

.aqua-nums2 {
    /* left: 42px; */
}
.purple-nums2 {
    /* left: 42px; */
}

.all-bars {
    
    width: 15px;
    /* bottom: 0; */
}

.aqua-bars {
    background-color: #01F4FF;
    
}

.usa-aqua-bar {
   
    height: 50px;
    
}

.usa-purple-num {
    /* margin-left: 17px; */
}

.usa-purple-bar {
    
    /* margin-left: 17px; */
    height: 50px;
    
}

.purple-bars {
    background-color: #7709F7;
}

.cont-e {
     grid-column: 2 / span 1;
     grid-row: 2 / span 1; 
     border-left: 9px solid #5D6576;
     border-right: 9px solid #5D6576;
    background-color: #071228;
}

#buttons div button { 
    display: block;
    width: 15px;
    height: 15px;
}

#buttons {
    display: flex;
    margin: 0 0 0 10px;  
}

#buttons div {
    display: inline;
    margin-top: 120px;
}

#buttons img {
    display: inline-block;
    padding-left: 30px;
}

.map-title h2 {
    font-size: small;
    padding-left: 10px;
    padding-top: 10px;
}

.map-title p {
    font-size: x-small;
    padding-left: 10px;
}

.txt-under-bar-graph {
    display: flex;
    justify-content: space-between;
    font-size: xx-small;
    width: 320px;
    margin: 0 auto;
}

.country-names  {
    padding-top: 5px;
    width: 90px;
}
.country-names p  {
    text-align: center;
}

.verticle-lines {
    
    background-color: white;
    height: 7px;
    width: 2px;
}

.bottom-text {
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
    font-size: xx-small;
    width: 320px;
}

.color-box1 {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #01F4FF;
}
.color-box2 {
    width: 10px;
    height: 10px;
    margin-left: 20px;
    margin-right: 5px;
    background-color: #7709F7;
}

.cont-f {
     grid-column: 3 / span 4; 
     grid-row: 2 / span 1; 
     border-right: 9px solid #5D6576;
    background-color: #071228;
}

.bottom-line2 {
    width: 385px;
}

.txt-under-bar-graph2 {
    width: 385px;
}

#sessionsTriGreen {
    display: none;
}

#sessionsTriRed {
    display: none;
    transform: rotate(180deg);
    position: relative;
    bottom: 22px; 
}

#todayBrTriGreen {
    display: none;
}

#todayBrTriRed {
    display: none;
    transform: rotate(180deg);
    background-color: red;
    position: relative;
    bottom: 22px;
    
}











