* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
.full-wrap {
    background-color: #071228;
    /* position: relative; */
    max-width: 1200px;
    display: grid;
    color: white;
    grid-template-areas: 
    'cont-a cont-a cont-a'
    'cont-bc cont-bc cont-bc' 
    'cont-def cont-def cont-def';
}

.cont-bc {
    display: flex; 
    /* position: absolute; */
    top: 70px;
    height: 250px;
    /* width: 1200px; */
    border-right: 9px solid #5D6576;
     border-top: 9px solid #5D6576;  
    color: white;
    background-color: red;

}

.cont-a {
    grid-area: cont-a;
    border-top: 9px solid #5D6576;
    border-bottom: 15px solid #5D6576;
}

.cont-a h1 {
    padding: 10px 0 10px 20px;
    font-size: 1.5rem;
}

.cont-b {
    flex-grow: 2;
    display: flex;
    height: 100%;
    width: 70%;
    grid-area: cont-b;
}

.days {
    grid-area: days;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: small;
    border-left: 9px solid #5d6576;
    justify-content: space-around;
    
    
}

.days p {
    padding-left: 11px;
}

.days :nth-child(1) {
    padding-top: 20px;
}

.days :nth-child(3) {
    padding-bottom: 29px;
}

.sessions {
    grid-area: sessions;
     display: flex; 
     flex-direction: column;
     height: 200px;
}
 .title-padding p {
     position: relative;    
     left: 50px;
    padding: 10px 0 20px 0;
    font-size: x-small;
    
}

.numbers {
    display: flex;
    height: 122px;
    flex-direction: column;
    justify-content: space-between;
}

.numbers div {
    text-align: right;
}

.symbols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 17px;
    margin-top: 10px;
    height: 172px;
}

.symbols1 {
    grid-area: symbols1;

}
.symbols2 {
    grid-area: symbols2;
}
.symbols3 {
    grid-area: symbols3;
}


.symbols4 {
    grid-area: symbols4;
    position: relative;
    right: 92px;
}
.symbols5 {
    grid-area: symbols5;
    position: relative;
    right: 120px;
}
.symbols6 {
    grid-area: symbols6;
    position: relative;
    right: 115px;
}


.symbols p {
    visibility: hidden;
}

.sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 40px;
    margin-top: 43px;
    height: 120px;
    
}

.tri {
    clip-path: polygon(44% 0, 61% 29%, 29% 29%);
    /*clip-path: polygon(46% 0, 63% 31%, 31% 31%);*/
    /*clip-path: polygon(50% 0%, 46% 36%, 53% 36%);*/
    /* grid-area: symbols;
     /*position: relative; */
     /* top: 20px;
     right: 65px;
     margin-top: 5px;*/ 
     
    height: 30px;
    background-color: #20aa20;
}

.nu {
    grid-area: nu;
}

.br {
    grid-area: br;
}

.asd {
    grid-area: asd;
}

.asd .title-padding .numbers {
    position: relative;
    right: 45px;
}

.sec {
    grid-area: sec;
}

.g1c {
     grid-area: g1c;
     position: relative;
     right: 85px;
}

.special-nums1 {
    position: relative;
    right: 18px;
}

.g2c {
    grid-area: g2c;
    position: relative;
    right: 100px; 
}


.bc-border {
    border: 9px solid #5d6576;

}

.cont-c {
    grid-area: cont-c;
    flex-grow: 1;
    border-left: 9px solid #5D6576;
    /* border-right: 9px solid #5D6576; */
    /* width: 30%; */
    /* height: 100%; */
    font-size: x-small;
}

.cont-d  {
    grid-area: cont-d;
    background-color: palegreen;
    position: relative;
    width: 300px;
    height: 200px;
}
.cont-e {
    grid-area: cont-e;
    background-color: peru;
    position: relative;
    width: 300px;
    height: 200px;

}
.cont-f {
    grid-area: cont-f;
    background-color: royalblue;
    position: relative;
    width: 300px;
    height: 200px;
}

.cont-def {
 /* position: absolute;    */
grid-area: cont-def;
display: flex;
justify-content: space-between;
background-color: green;
top: 500px;
}


